
# 📁 오직 .cpp 파일만 올리기
# --------------------------------------
# 맥 시스템 파일
.DS_Store

# Xcode 프로젝트 관련 폴더/파일
*.xcodeproj/
*.xcworkspace/
*.xcuserdatad/
*.xcuserdata/
DerivedData/
build/
*.pbxproj

# 임시/실행파일
*.out
*.exe
*.o
*.obj

# 기타 불필요한 파일
*.txt
*.log
*.plist

